.cadastrado-compra{
    margin-top: 93px;
    .container{
        padding-top: 100px;
        padding-bottom: 113px;
        display: flex;
        .container-compra{
            width: 427px;
            position: relative;
            h1{
                color: $color-05;
                font-family: $Barlow;
                font-size: 22px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 53px;    
            }

            .obrigado{
                position: absolute;
                top: -60px;
                h3{
                    color: $color-16;
                    font-family: $Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;    
                }
            }

            .titular{
                display: flex;
                margin-bottom: 35px;
                .titular-img{

                }

                .titular-text{
                    margin-left: 19px;
                    h3{
                        color: $color-16; 
                        font-family: $Roboto;
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 5px;
                    }

                    h4{
                        color: $color-10; 
                        font-family: $Roboto;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }

            .mais-inf{
                margin-bottom: 55px;
                p{
                    color: $color-16;
                    font-family: $Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 20px; 
                    &:last-child{
                        margin-bottom: 0;
                    }
                }   
            }

            .minha-area{
                margin-top: 0;
                margin-bottom: 55px;
                a{
                    width: 271px;
                    height: 47px;
                    background-color: $color-05;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 37px;

                    color: $color-01;
                    font-family: $Barlow;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;

                    img{
                        display: block;
                        margin-left: 18px;    
                    }
                }    
            }

            .documentacao-compra{
                h3{
                    color: $color-05;
                    font-family: $Barlow;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 15px;
                    text-transform: uppercase;     
                }
                
                ul{
                    padding-left: 15px;
                    width: 240px;
                    li{
                        position: relative;

                        &:before{
                            content: '';
                            display: block;
                            width: 4px;
                            height: 4px;
                            background-color: $color-03;
                            position: absolute;
                            top: 52.5%;
                            left: -15px;
                            border-radius: 50%;
                            transform: translateY(-50%)
                        }
                        a{
                            color: $color-10;
                            font-family: $Roboto;
                            font-size: 14px;
                            font-weight: 400;
                            margin-bottom: 12px;
                            display: block;
                            &:first-child{
                                margin-top: 20px;
                            }
                        }
                    }
                } 
            }
        }

        .container-carrinho-contato{
            width: 500px;
            margin-left: auto;
            .container-carrinho{
                width: 100%;
                height: 600px;
                box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
                border: 1px solid $color-15;
                background-color: $color-01;
                position: relative;
                .carrinho{
                    padding-left: 81px;
                    padding-right: 58px;
                    padding-top: 48px;
                    height: 74%;
                    overflow-y: scroll;
                    .itens-text{
                        .text{
                            display: flex;
                            align-items: center;
                            h1{
                                color: $color-03;
                                font-family: $Barlow;
                                font-size: 11px;
                                font-weight: 700;
                                text-transform: uppercase;
                                &:last-child{
                                    margin-left: 15px;
                                }
                                img{
                                    margin-right: 29px;
                                }    
                            }
            
                            img{
                                margin-left: auto;
                                cursor: pointer;
                            }
                        }
            
                        .itens{
                            .iten{
                                display: flex;
                                justify-content: space-between;
                                position: relative;
                                padding-bottom: 50px;
                                margin-top: 50px;
    
                                &:after{
                                    content: '';
                                    display: block;
                                    width: 120%;
                                    position: absolute;
                                    bottom: 0px;
                                    left: -44px;
                                    height: 1px;
                                    background-color: rgba(112, 112, 112, 0.3);
                                }
    
                                &:first-child{
                                    margin-top: 0px;
                                }
            
                                &:last-child{
                                    border-bottom: unset;
                                }
            
                                .remove-iten{  
                                    position: absolute;
                                    left: -40px;
                                    top: 29%;
                                    cursor: pointer;
                                }
            
                                .iten-img{
                                    position: relative;
                                    width: 161px;
                                    height: 116px;
                                    img{
                                        width: 100%;
                                        height: 100%;    
                                    }
                                    .valor-plano{
                                        width: 111px;
                                        height: 38px;
                                        background-color: $color-05;
                                        position: absolute;
                                        bottom: -37px;
                                        right: 0px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        border-radius: 0 0 0 10px;
                                        z-index: 10;
                                        .valor{
                                            display: flex;
                                            align-items: flex-end;
                                            span{
                                                color: $color-01;
                                                font-family: $Roboto;
                                                font-size: 9px;
                                                font-weight: 500;
                                                display: block;
                                                margin-bottom: 0px;
                                            }
                    
                                            p{
                                                color: $color-01;
                                                font-family: $Roboto;
                                                font-size: 12px;
                                                font-weight: 400;
                                                text-transform: uppercase;
                                                margin-bottom: 0;
                                                &:last-child{
                                                    color: $color-01;
                                                    font-family: $Roboto;
                                                    font-size: 9px;
                                                    font-weight: 600;
                                                    margin-bottom: 0;
                                                    text-transform: unset;
                                                }
                
                                                &:nth-child(3){
                                                    margin: 0px 3px;
                                                    font-size: 12px;
                                                }
                                            }
                
                                        }
                                    }    
                                }
                                
                                .plano{
                                    margin-right: 40px;
                                    h3{
                                        color: $color-05;
                                        font-family: $Barlow;
                                        font-size: 14px;
                                        font-weight: 700;
                                        text-transform: uppercase;    
                                    }
            
                                    h1{
                                        color: $color-03;
                                        font-family: $Barlow;
                                        font-size: 18px;
                                        font-weight: 700;    
                                        margin-top: 4px;
                                        margin-bottom: 4px;
                                    }
            
                                    span{
                                        color: $color-10;
                                        font-family: $Roboto;
                                        font-size: 12px;
                                        font-weight: 500;
                                        line-height: 20px;    
                                    }
            
                                    .contador{
                                        margin-top: 9px;
                                        width: 140px;
                                        height: 47px;
                                        border-radius: 5px;
                                        background-color: $color-11; 
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        padding: 0px 14px; 
                                        p{
                                            color: $color-05;
                                            font-family: $Barlow;
                                            font-size: 18px;
                                            font-weight: 700;
                                        }  
        
                                        img{
                                            cursor: pointer;
                                        }
                                    }
                                    .qtd{
                                        margin-top: 12px;
                                        p{
                                            color: $color-05;
                                            font-family: $Barlow;
                                            font-size: 12px;
                                            font-weight: 700;
                                            text-transform: uppercase;
                                        }    
                                    }
                                }
                            }
                        }     
                    }
                }
        
                .container-finalizar{
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    .total-itens{
                        height: 68px;
                        background-color: $color-11;
                        position: relative;
                        border-bottom: 1px solid $color-01;
                        .iten-total{
                            width: 50%;
                            display: flex;
                            align-items: center;
                            padding-left: 81px;
                            height: 100%;
                            img{
                                margin-right: 23px;
                            }
                            p{
                                color: $color-03;
                                font-family: $Barlow;
                                font-size: 14px;
                                font-weight: 700;
                                text-transform: uppercase;    
                            }
        
                            &:last-child{
                                border-radius: 0 0 0 30px;
                                background-color: $color-05;
                                position: absolute;
                                right: 0px;
                                top: 0px;
                                p{
                                    color: $color-01;
                                    font-family: $Barlow;
                                    font-size: 22px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    span{
                                        color: $color-01;
                                        font-family: $Barlow;
                                        font-size: 12px;
                                        font-weight: 700;
                                        text-transform: uppercase;    
                                    }    
                                }    
                                
                            }
                        }    
                    }    
        
                    .sacola{
                        height: 83px;
                        display: flex;
                        align-items: center;
                        background-color: $color-05;
                        padding-left: 81px;
                        border: solid 1px $color-11;
                        p{
                            height: 100%;
                            color: $color-01;
                            font-family: $Barlow;
                            font-size: 19px;
                            font-weight: 700;
                            text-transform: uppercase;
                            
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
        
                    .finalizar{
                        height: 101px;
                        background-color: $color-05;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        button{
                            cursor: pointer;
                            color: $color-01;
                            font-family: $Barlow;
                            font-size: 20px;
                            font-weight: 700;
                            text-transform: uppercase;
                            border: transparent;  
                            background-color: transparent;      
                        }
                        img{
                            margin-left: 35px;
                            margin-top: 1px;
                        }
                    }    
                }
    
                .documentacao{
                    border-top: 1px solid rgba(144, 144, 144, 0.5);    
                    height: 65px;
                    margin-top: auto;
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    .doc{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 100%;
                        position: relative;
                        z-index: 10;
                        .leitura{
                            height: 100%;
                            position: absolute;
                            top: 0px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 70%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            z-index: 10;
                            background-color: $color-01;
                            cursor: pointer;   
                            p{
                                color: $color-05;
                                font-family: $Barlow;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 15px;
                                text-transform: uppercase; 
                            }
            
                            img{
                                width: 10px;
                                height: 7px;    
                            }
                        }
                       
    
                        .list-doc{
                            background-color: $color-01;
                            position: absolute;
                            top: -8px;
                            left: -1px;
                            width: 100.5%;
                            z-index: -1;
                            opacity: 0;
                            transition: all .5s;
                            
                            ul{
                                width: 70%;
                                margin: 0 auto;
                                height: 100%;
                                li{
                                    
                                    position: relative;
    
                                    &:before{
                                        content: '';
                                        display: block;
                                        width: 4px;
                                        height: 4px;
                                        background-color: $color-03;
                                        position: absolute;
                                        top: 52.5%;
                                        left: -15px;
                                        border-radius: 50%;
                                        transform: translateY(-50%)
                                    }
                                    a{
                                        color: $color-10;
                                        font-family: $Roboto;
                                        font-size: 14px;
                                        font-weight: 400;
                                        line-height: 24px;
                                        margin-bottom: 12px;
                                        display: block;
                                        &:first-child{
                                            margin-top: 20px;
                                        }
                                    }
                                }
                            }   
                            
                            &.active{
                                top: 65px;
                                height: auto;
                                opacity: 1;
                                transition: all .5s;
                                background-color: $color-01;
                            }
                        }
                    }
                }
    
                .dados-cli{
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: -60px;
                    width: 100%;
                    .nome{
                        display: flex;
                        align-items: center;
                        width: 52%;
    
                        p{
                            color: $color-03;
                            font-family: $Barlow;
                            font-size: 18px;
                            font-weight: 700;
                            text-transform: uppercase;
                        }    
                    }
    
                    .email-cli{
                        width: 45%;
                        span{
                            color: $color-16;
                            font-family: $Roboto;
                            font-size: 14px;
                            font-weight: 500;    
                        }
                    }
                }
            }

            .contato-compra{
                margin-top: 43px;
                span, p{
                    color: $color-10;
                    font-family: $Roboto;
                    font-size: 12px;
                    font-weight: 400;
                    display: block;
                } 

                p{
                    margin-bottom: 5px;
                }
                
                span{
                    &:first-child{
                        margin-bottom: 20px;
                    }

                    &:last-child{
                        margin-top: 20px;    
                    }
                }
            }
        }
        
    }
}  

@media(max-width: 1366px){
    .cadastrado-compra{
        .container{
            .container-carrinho-contato{
                .container-carrinho{
                    height: 800px;
                    .carrinho{
                        height: 75%;
                    }
                }
            }
        }
    }
}

@media(max-width: 1280px){
    .cadastrado-compra{
        .container{
            .container-compra{
                width: 50%;
            }
        }
    }
}

@media(max-width: 991px){
    .cadastrado-compra{
        .container{
            flex-direction: column;
            align-items: center;
            .container-compra{
                margin-bottom: 130px;
                width: 500px;
            }

            .container-carrinho-contato{
                margin-left: 0;
            }
        }
    }
}

@media(max-width: 480px){
    .cadastrado-compra{
        .container{
            .container-compra{
                width: 100%;     
            }

            .container-carrinho-contato{
                width: 100%;
                .container-carrinho{
                    height: 460px;
                    overflow: hidden;
                    margin-bottom: 20px;
                    .container-finalizar{
                        .sacola{
                            padding-left: 10vw;
                        }

                        .total-itens{
                            .iten-total{
                                padding-left: 10vw;
                            }
                        }

                        .total-itens{
                            .iten-total{
                                &:last-child{
                                    p{
                                        font-size: 4.6vw;    
                                    }
                                }
                            }
                        }
                    }

                    .carrinho{
                        height: 65%;  
                        padding-left: 10vw;
                        padding-right: 10vw;
                        padding-top: 10vw;
                        .itens-text{
                            .itens{
                                .iten{
                                    &:after{
                                        left: 50%;
                                        transform: translateX(-50%);
                                        width: 100%;
                                    }

                                    .iten-img{
                                        width: 45%;
                                        height: 108px;
                                    }

                                    .plano{
                                        width: 45%;
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

@media(max-width: 375px){
    .cadastrado-compra{
        .container{
            .container-carrinho-contato{
                .container-carrinho{
                    .carrinho{
                        .itens-text{
                            .itens{
                                .iten{
                                    .iten-img{
                                        height: 86px;
                                        img{

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 320px){
    .cadastrado-compra{
        .container{
            .container-carrinho-contato{
                .container-carrinho{
                    .carrinho{
                        .itens-text{
                            .itens{
                                .iten{
                                    .iten-img{
                                        height: 72px;    
                                    }
                                    .plano{
                                        h1{
                                            font-size: 12px;
                                        }
        
                                        span{
                                            font-size: 10px;
        
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}