.detalhe-plano{
    height: 564px;
    background-color: $color-13;
    margin-top: 93px;
    display: flex;
    align-items: center;
    .container{
        display: flex;
        align-items: center;
        .cidade{
            h3{
                color: $color-01;
                font-family: $Roboto;
                font-size: 16px;
                font-weight: 400; 
                &:first-child{
                    margin-bottom: 14px;
                }  
                &:last-child{
                    color: $color-01;
                    font-family: $Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    text-transform: uppercase;
                } 
            }

            h4{
                font-family: $Roboto;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                color: $color-14; 
                margin-bottom: 14px;  
            }
            h5{
                font-family: $Roboto;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                color: $color-14; 
                margin-bottom: 50px;
                margin-top: 20px;
            }

            p{
                font-family: $Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: $color-14;    
            }
        }

        .container-img-plano{
            width: 560px;
            height: 408px;   
            margin-left: 75px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
            }
            .cobertura{
                width: 154px;
                height: 49px;
                padding-right: 18px;
                background-color: $color-05;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 0px;
                left: 0px; 
                border-top-right-radius: 23px;
                &:before{
                    content: "";
                    display: block;
                    height: 100%;
                    width: 25px;
                    background-color: $color-05;
                    transform: skewX(-160deg);
                    position: absolute;
                    left: -15px;
                    
                }
                p{
                    width: 79px;
                    color: $color-01;
                    font-family: $Barlow;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 14px;
                    text-transform: uppercase;
                    margin-left: 5px;
                } 
                img{
                    width: 31px;
                    height: 30px;
                }  
            }

            .card-plano{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -276px;
                width: 380px;
                height: 377px;
                box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
                border: 1px solid $color-15;
                background-color: $color-01;
                z-index: 10;
                .container-plano{
                    .plano{
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        margin: 0 auto;
                        padding-top: 46px;
                        position: relative;
                        &:before{
                            content: '';
                            display: block;
                            width: 46px;
                            height: 1px;
                            background-color: $color-02;
                            position: absolute;
                            top: -2px;
                            left: 0px;
                        }

                        h1{
                            color: $color-03;
                            font-family: $Barlow;
                            font-size: 28px;
                            font-weight: 700;  
                            margin-bottom: 30px;  
                        }

                        p{
                            color: $color-05;
                            font-family: $Roboto;
                            font-size: 30px;
                            font-weight: 700;
                            text-transform: uppercase;
                            span{
                                font-size: 17px;  
                                &:last-child{
                                    color: $color-10;
                                    font-family: $Roboto;
                                    font-size: 19px;
                                    font-weight: 700;
                                    text-transform: none;    
                                }  
                            }  
                            
                            &:nth-child(2){
                                margin-bottom: 18px;
                            }
                        }

                        h5{
                            color: $color-10;
                            font-family: $Roboto;
                            font-size: 14px;
                            font-weight: 500;
                            span{
                                color: $color-16;
                                font-family: $Roboto;
                                font-weight: 700;    
                            }    
                        }

                        .btn-sacola{
                            width: 251px;
                            height: 47px;
                            background-color: $color-05;
                            border-radius: 37px;
                            display: flex;
                            align-items: center;
                            justify-content: center; 
                            margin-top: 43px;
                            button{
                                color: $color-01;
                                font-family: $Barlow;
                                font-size: 14px;
                                font-weight: 700;
                                text-transform: uppercase;                            
                                border: none;
                                background-color: transparent;
                                cursor: pointer;    
                            }   
                            img{
                                margin-left: 15px;
                                width: 14px;
                                height: 18px;
                            } 
                        }
                        
                    }
                }

                .documentacao{
                    border-top: 1px solid rgba(144, 144, 144, 0.5);    
                    height: 65px;
                    margin-top: auto;
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    .doc{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 100%;
                        position: relative;
                        z-index: 10;
                        .leitura{
                            height: 100%;
                            position: absolute;
                            top: 0px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 70%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            z-index: 10;
                            background-color: $color-01;
                            cursor: pointer;   
                            p{
                                color: $color-05;
                                font-family: $Barlow;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 15px;
                                text-transform: uppercase; 
                            }
            
                            img{
                                width: 10px;
                                height: 7px;    
                            }
                        }
                       

                        .list-doc{
                            background-color: $color-01;
                            position: absolute;
                            top: -8px;
                            left: -1px;
                            width: 100.5%;
                            z-index: -1;
                            opacity: 0;
                            transition: all .5s;
                            pointer-events: none;
                            ul{
                                width: 70%;
                                margin: 0 auto;
                                height: 100%;
                                pointer-events: none;
                                li{
                                    
                                    position: relative;

                                    &:before{
                                        content: '';
                                        display: block;
                                        width: 4px;
                                        height: 4px;
                                        background-color: $color-03;
                                        position: absolute;
                                        top: 52.5%;
                                        left: -15px;
                                        border-radius: 50%;
                                        transform: translateY(-50%)
                                    }
                                    a{
                                        color: $color-10;
                                        font-family: $Roboto;
                                        font-size: 14px;
                                        font-weight: 400;
                                        line-height: 24px;
                                        margin-bottom: 12px;
                                        display: block;
                                        &:first-child{
                                            margin-top: 20px;
                                        }
                                    }
                                }
                            }   
                            
                            &.active{
                                top: 65px;
                                height: auto;
                                opacity: 1;
                                transition: all .5s;
                                background-color: $color-01;
                                pointer-events: all;
                                ul{
                                    pointer-events: all;
                                }
                            }
                        }
                    }
                }
            }   
        }
    }
}

@media(max-width: 1280px){
    .detalhe-plano{
        .container{
            .container-img-plano{
                width: 44vw;
                margin-left: 6vw;
                .card-plano{
                    right: -21.5vw;
                }
            }
        }
    }
}

@media(max-width: 991px){
    .detalhe-plano{
        min-height: 1200px;
        position: relative;
        .container{
            align-items: unset;
            flex-direction: column-reverse; 
            padding:0px;  

            .cidade{
                width: 220px;
                position: absolute;
                top: 604px;
                right: 4%;
                z-index: 10;
            }
            
            .container-img-plano{
                margin-left: 0;
                position: absolute;
                height: auto;
                top: 0px;
                left: 0px;
                width: 100%;

                img{
                    margin-bottom: 100px;
                    height: 500px;
                }

                .cobertura{
                    bottom: unset;
                    top: 46%;
                    img{
                        margin-bottom: 0;
                    }
                }

                .card-plano{
                    position: relative;
                    transform: unset;
                    right: 0px;
                    left: 5%;
                    .container-plano{
                        .plano{
                            .btn-sacola{
                                img{
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }

                    .documentacao{
                        .doc{
                            .leitura{
                                img{
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 768px){
    .detalhe-plano{
        min-height: 875px;
        .container{
            .cidade{
                z-index: 80;
                top: 514px;
                right: 9%;
            }

            .container-img-plano{
                .cobertura{
                    top: 51.5%;
                }

                img{
                    margin-bottom: -3px;
                }

                .card-plano{
                    width: 100%;
                    left: 0px;
                    transform: translateX(0px);    
                    .container-plano{
                        .plano{
                            width: 80%;
                        }
                    }
                }

                .documentacao{
                    .doc{
                        .leitura{
                            width: 80%;
                        }
                    }
                }    
            }
        }
    }
}

@media(max-width: 480px){
    .detalhe-plano{
        height: 1200px;
        .container{
            .container-img-plano{
                .cobertura{
                    top: 38.1%;
                }
                img{
                    height: 349px; 
                    margin-bottom: 60px;   
                }

                .card-plano{
                    width: 80%;
                    right: unset;
                    left: 50%;
                    transform: translateX(-50%); 
                    .container-plano{
                        .plano{
                            text-align: center;
                            .btn-sacola{
                            }
                        }
                    }
                }
            }

            .cidade{
                top: 862px;
                width: 100%;  
                text-align: center;
                left: -10px;
                right: unset;
            }
        }
    }
}

@media(max-width: 375px){
    .detalhe-plano{
        .container{
            .container-img-plano{
                img{
                    height: 273px;    
                }

                .cobertura{
                    top: 31.5%;
                }

                .card-plano{
                    .container-plano{
                        .plano{
                            h1{
                                font-size: 6vw;
                            }

                            p{
                                font-size: 6vw;
                            }

                            .btn-sacola{
                                width: 100%;
                                button{
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 320px){
    .detalhe-plano{
        min-height: 1027px;
        .container{
            .cidade{
                top: 734px;    
            }

            .container-img-plano{
                .cobertura{
                    top: 33.5%;
                }

                .card-plano{
                    height: 335px;
                    .container-plano{
                        .plano{
                            width: 80%;    
                        }
                    }
                }
            }
        }
    }
}