footer{
    background-color: $color-05;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    .container{
        display: flex;

        .comproodonto{
            display: flex;
            flex-direction: column;
            width: 462px;
            h1{
                color: $color-01;
                font-family: $Roboto;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: -0.36px;     
                margin-bottom: 20px;
            } 
            
            p{
                color: $color-01;
                font-family: $Roboto;
                font-size: 14px;
                font-weight: 400;   
                margin-bottom: 15px; 
            }

            span{
                color: $color-04;
                font-family: $Montserrat;
                font-size: 14px;
                font-weight: 500;  
                display: flex;
                align-items: center;
                img{
                    margin-left: 14px;  
                    margin-top: auto;
                    margin-bottom: 1.5px;
                    display: block;  
                }
            }
        }  
        
        .siga{
            margin-left: 135px;
            h1{
                color: $color-01;
                font-family: $Montserrat;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;    
                margin-bottom: 21px;
            }

            .social{
                width: 83px;
                display: flex;
                justify-content: space-between;   
                margin-bottom: 11px;     
            }

            span{
                color: $color-04;
                font-family: $Montserrat;
                font-size: 14px;
                font-weight: 500;
                display: flex;
                align-items: center;
                img{
                    margin-left: 14px;
                    margin-top: auto;
                    margin-bottom: 2px;
                    display: block;
                }
            }
        }

        .contato{
            margin-left: auto;
            p{
                color: $color-01;
                font-family: $Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 12px;    
            }

            h1{
                color: $color-01;
                font-family: $Montserrat;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 21px;
            }

            .tel, .email{
                display: flex;   
                 
            }

            .tel{
                margin-bottom: 11px;
                img{
                    margin-right: 16px;    
                }
            }

            .email{
                img{
                    margin-right: 16px;    
                }
            }
        }
        
    }
}

.footer-cadastro{
    height: 262px;
    border: 1px solid $color-19;
    background-color: $color-01; 
    .container{
        .comproodonto{
            p{
                color: $color-10;
                font-family: $Roboto;
                font-size: 14px;
                font-weight: 400;    
            }
        }

        .pagamento-footer{
            margin: 0 auto;
            h1{
                color: $color-03;
                font-family: $Barlow;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 0.26px;
                text-transform: uppercase;    
            }

            .bandeiras{
                margin-top: 21px;    
            }
        }

        .contato{
            h1{
                color: $color-03;
                font-family: $Barlow;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 0.26px;
                text-transform: uppercase;    
            }

            .tel{
                p{
                    color: $color-10;
                    font-family: $Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 12px;    
                }
            }
            .email{
                p{
                    color: $color-10;
                    font-family: $Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 12px;    
                }
            }
        }
    }   
}


@media(max-width: 1366px){
    footer{
        .container{
            .siga{
                margin: 0 auto;
            }
        }
    }
}

@media(max-width: 991px){
    footer{
        .container{
            .comproodonto{
                width: 40%;
            }
        }
    }
}

@media(max-width: 768px){
    footer{
        height: auto;
        padding: 10vw 0px;
        .container{
            flex-wrap: wrap;
            .comproodonto{
                width: 50%;
                margin-right: 100px;
            }

            .siga{
                margin: 0px;
            }

            .contato{
                margin-left: 0;
                margin-top: 50px;
            }
        }
    }
}

@media(max-width: 480px){
    footer{
        .container{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            .comproodonto{
                width: 80%;
                margin-right: 0;
                span{
                    display: flex;
                    justify-content: center;
                }
            }

            .siga{
                width: 80%;
                margin: 13vw 0px;
                .social{
                    margin-left: auto;
                    margin-right: auto;
                }

                span{
                    justify-content: center;
                }
            }

            .contato{
                width: 80%;
                margin-top: 0;
                .tel{
                    display: flex;
                    justify-content: center;
                }
                .email{
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

    .footer-cadastro{
        height: auto;
        .container{
            .pagamento-footer{
                margin: 55px auto;    
            }
        }
    }
}