header{
    position: fixed;
    height: 93px;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    z-index: 90;
    width: 100%;
    border-bottom: 1px solid rgba(206, 206, 206, 0.5);
    .container{
        display: flex;
        align-items: center;
        height: 100%;
        .comproodonto-header{
            margin-right: 78px;
        }

        .social-header{
            width: 83px;
            display: flex;
            justify-content: space-between;
        } 

        .menus{
            width: 155px;
            display: flex;
            justify-content: space-between;
            margin-left: auto;
            .toggle-mobile{
                cursor: pointer;
                height: 25px;
                width: 30px;
                position: relative;
                span{
                    width: 100%;
                    height: 3px;
                    background-color: $color-01;    
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    box-shadow: 0 2px 5px rgba(0,0,0, .2);
                    transition:  all .5s;
                    &:before,&:after{
                        content: '';  
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: $color-01; 
                        box-shadow: 0 2px 5px rgba(0,0,0, .2);  
                        transition:  all .5s;
                    }
    
                    &:before{
                        top: -11px
                    }
    
                    &:after{
                        top: 11px;
                    }
                }
    
                &.active{
                    span{
                        background-color: rgba(0,0,0, 0);
                        box-shadow: 0 2px 5px rgba(0,0,0, 0);    
                        &:before{
                            top: 0px;
                            transform: rotate(45deg)
                        }
                        &:after{
                            top: 0px;
                            transform: rotate(135deg)
                        }
                    }
                }
            }
        }
        
    }
}

.color{
    background-color: $color-05;
}


@media(max-width: 480px){
    header{
        background-color: $color-05;
        .container{
            .social-header{
                display: none;
            }

            .comproodonto-header{
                margin-right: auto;
                width: 40vw;
                img{
                    width: 100%;
                }
            }

            .menus{
                width: 40%;
            }
        }
    }
}