.pagamento{
    background-color: $color-05;
    .container{
        .etapas{
            margin-left: auto;
            display: flex;
            align-items: center;
            .cadastro, .pagamento, .finalizar{
                display: flex;
                margin-right: 92px;
                opacity: 0.5;
                position: relative;
                span{
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: $color-01;
                    color: $color-05;
                    font-family: $Barlow;
                    font-size: 12px;
                    font-weight: 700;
                }

                p{
                    color: $color-01;
                    font-family: $Barlow;
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center; 
                    margin-left: 8px;  
                }

                &:after{
                    content: '';
                    display: block;
                    width: 21px;
                    height: 1px;
                    border-bottom: 1px solid $color-01;
                    position: absolute;
                    top: 50%;
                    right: -55px;
                    transform: translateY(-50%);
                }

                &.active{
                    opacity: 1;
                    &:after{
                        opacity: 1;
                    }
                }
            }

            .finalizar{
                &:after{
                    border: none;
                }
            } 
        }
    }
}

@media(max-width: 768px){
    header{
        .container{
            .logo-cadastro{
                display: none;
            } 
            .etapas{
                margin-right: auto;
                width: 500px;
            }   
        }
    }

    .pagamento{
        .container{
            .etapas{
                .cadastro, .pagamento, .finalizar{
                    margin-right: auto;    
                }
            }
        }
    }
}

@media(max-width: 480px){
    .pagamento{
        .container{
            .etapas{
                width: 100%;
                justify-content: space-between;
                .cadastro, .pagamento, .finalizar{
                    margin-right: 0px;
                    &:after{
                        opacity: 0;
                    }

                    &.active{
                        &:after{
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}