.home{
    position: relative;
    height: 836px;
    .img-fundo{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        &:after{
            content: '';
            display: block;
            background-image: linear-gradient(180deg, rgba(0,0,0,0.08) 0%, #000 100%);
            opacity: 0.46;
            position: absolute;
            bottom: 0px;
            height: 100%;
            width: 100%;
        }
        img{
        }
    }

    .container{
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        height: 106%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        .text-select{
            h1{
                width: 467px;
                color: $color-01;
                font-family: $Montserrat;
                font-size: 52px;
                font-weight: 700;
                letter-spacing: -1.56px;
                line-height: 52px;  
                padding-top: 20px;
                position: relative;
                &:before{
                    width: 30px;
                    height: 3px;
                    background-color:  $color-02;
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }  
            }

            span{
                display: block;
                margin: 20px 0px;
                color: $color-01;
                font-family: $Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 15px;
            }
            
            .select{
                width: 619px;
                height: 74px;
                background-color: $color-01;  
                display: flex;
                align-items: center;
                padding: 0px 38px;
                justify-content: space-between;
                position: relative;
                cursor: pointer;
                span{
                    color: $color-03;
                    font-family: $Roboto;
                    font-size: 21px;
                    font-weight: 500;
                }

                .list{
                    position: absolute;
                    top: 73px;
                    left: 0px;
                    height: 296px;
                    overflow-y: scroll;
                    width: 100%;
                    z-index: 20;
                    background-color: $color-01; 
                    display: none;
                    li{
                        padding: 0px 38px;
                        height: 74px;
                        width: 100%;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        p{
                            color: $color-03;
                            font-family: $Roboto;
                            font-size: 21px;
                            font-weight: 500;    
                        }
                    }

                    &.active{
                        display: block;
                    }
                }    
            }
        }

        .planos{
            display: grid;
            grid-template-columns: 275px 1fr 1fr 1fr;
            padding-top: 170px;
            grid-column-gap: 47px;
            margin-bottom: 100px;
            position: relative;
            &:before{
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: $color-01;
                position: absolute;
                top: 33%;
                transform: translateY(-50%);
            }
            h1{
                color: $color-01;
                font-family: $Montserrat;
                font-size: 32px;
                font-weight: 700;
                letter-spacing: -0.64px;  
                img{
                    margin-left: 25px;
                }  
            }

            .card{
                h1{
                    color: $color-04;
                    font-family: $Montserrat;
                    font-size: 21px;
                    font-weight: 700;  
                    padding-left: 46px;
                    position: relative;
                    &:before{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        width: 29px;
                        height: 3px;
                        background-color: $color-02;
                    }       
                }

                h3{
                    color: $color-01;
                    font-family: $Montserrat;
                    font-size: 16px;
                    font-weight: 700;   
                    margin-top: 18px;  
                    margin-bottom: 10px;
                }

                p{
                    color: $color-01;
                    font-family: $Roboto;
                    font-size: 14px;
                    font-weight: 400;   
                }
            }
        }    
    }
}

@media(max-width: 1366px){
    .home{
        .img-fundo{
            img{
                object-fit: none;
                object-position: -32vw;
            }
        }
    }    
}

@media(max-width: 991px){
    .home{
        .container{
            .text-select{
                h1{
                    font-size: 5.5vw;    
                }
            }

            .planos{
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 30px 20px;
                h1{
                    grid-column: span 4;    
                }
            }
        }

        .img-fundo{
            img{
                object-position: -70vw;    
            }
        }
    }
}

@media(max-width: 768px){
    .home{

        .container{
            .text-select{
                h1{
                    width: 100%;
                    font-size: 5vw;
                    text-align: center;
                    &:before{
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }

                span{
                    text-align: center;
                }

                .select{
                    width: 100%;    
                }
            }

            .planos{
                grid-gap: 90px 20px;
                padding-top: 100px;
                &:before{
                    top: 16%;
                }
                h1{
                    position: relative;
                    img{
                        transform: rotate(90deg);  
                        margin-left: 0;  
                        position: absolute;
                        top: 60px;
                        left: 45%;
                    }
                }
            }
        }

        .img-fundo{
            img{
                object-position: -115vw;    
            }
        }
    }
}

@media(max-width: 480px){
    .home{
        height: auto;
        background-color: $color-08;
        .container{
            position: static;
            padding-top: 130px;
            transform: unset;
            .text-select{
                h1{
                    width: 60%;
                    font-size: 6.5vw;
                    line-height: normal;
                    text-align: center;
                    margin: 0 auto;
                    &:before{
                        left: 50%;
                        transform: translate(-50%);
                    }
                }

                span{
                    text-align: center;
                }
            }

            .planos{
                grid-template-columns: 60%;
                justify-content: center;
                grid-gap: 70px 0px;
                &:before{
                    top: 7%;
                }

                h1{
                    grid-column: unset;
                    text-align: center;
                    font-size: 5.5vw;
                    img{
                        bottom: -30px;
                        top: unset;
                        left: 43%
                    }
                }

                .card{
                    text-align: center;
                    
                    h1{
                        padding-left: 0;
                        padding-top: 20px;
                        position: relative;
                        &:before{
                            top: 0px;
                            left: 50%;
                            transform: translateX(-50%)
                        }
                    }
                }
            }
        }

        .img-fundo{
            display: none;
            img{
                height: 100%;
                object-position: unset;
                object-fit: cover;
            }
        }
    }
}

@media(max-width: 375px){
    .home{
        .container{
            .planos{
                h1{
                    img{
                        left: 42%;    
                    }
                }
            }
        }
    }
}