.list-planos{
    .tab-nav{
        width: 100%;
        height: 69px;
        border: 1px solid $color-06;
        background-color: $color-01;
        ul{
            display: flex;
            align-items: center;
            height: 100%;
            width: 1100px;
            margin: 0 auto;
            li{
                margin-right: 104px;
                height: 100%;
                display: flex;
                align-items: center;
                p{
                    color: $color-10;
                    font-family: $Barlow;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase; 
                    cursor: pointer;  
                    
                    &:hover{
                        color: $color-05;
                    }
                    &.active{
                        color: $color-05;
                    }
                }
                
                
            }
        }    
    }

    .container{
        .container-planos{
            margin-top: 40px;
            margin-bottom: 180px;
            position: relative;
            .planos-uni{
                display: flex;
                margin-bottom: 47px;
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: -1;
                opacity: 0;
                transition: all .5s;
                .container-planos-uni{
                    &:last-child{
                        margin-left: 190px;
                    }
                    h1{
                        color: $color-16;
                        font-family: $Roboto;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 30px;
                        text-transform: uppercase;    
                    }
    
                    ul{
                        margin-top: 10px;
                        li{
                            p{
                                color: $color-16;
                                font-family: $Roboto;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 30px;
                                position: relative;
                                padding-left: 15px;
                                &:before{
                                    content: '';
                                    display: block;
                                    background-image: url('../img/detalhe-plano/detalhe-plano-05.png');
                                    width: 5px;
                                    height: 10px;
                                    position: absolute;
                                    left: 0px;;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }    
                            }
                        }
                    }
                }

                &.active{
                    position: static; 
                    opacity: 1;  
                    transition: all .5s; 
                }
            } 
            
            
        }    
    }
}

@media(max-width: 1366px){
    .list-planos{
        .tab-nav{
            ul{
                width: 90%;
            }
        }
    }
}

@media(max-width: 991px){
    .list-planos{
        .tab-nav{
            ul{
                li{
                    margin-right: 7vw;
                }
            }
        }
        .container{
            .container-planos{
                .planos-uni{
                    display: flex;
                    flex-direction: column;

                    .container-planos-uni{
                        &:first-child{
                            margin-bottom: 7vw;
                        }
                        &:last-child{
                            margin-left: 0px;
                        }
                    }     
                }
            }
        }
    }
}

@media(max-width: 768px){
    .list-planos{
        .tab-nav{
            height: auto;
            ul{
                flex-wrap: wrap;
                li{
                    height: 69px;
                }
            }
        }
    }
}

@media(max-width: 480px){
    .list-planos{
        .container{
            .container-planos{
                text-align: center;
                margin-bottom: 40px;
                .planos-uni{
                    width: 100%;
                    .container-planos-uni{
                        
                        ul{
                            li{
                                p{
                                    display: inline-block;
                                    padding-left: 0;
                                    &:before{
                                        height: 0;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 375px){
    .list-planos{
        .tab-nav{
            ul{
                flex-direction: column;
                padding: 10vw 0px;
                li{
                    margin-right: 0px;  
                    height: 35px;  
                }    
            }
        }
    }
}