.minha-area{
    margin-top: 93px;
    overflow: hidden;
    .container{
        padding-top: 63px;
        padding-bottom: 63px;
        min-height: 945px; 
        position: relative;
        display: flex;
        .menu-mobile{
            display: none;
        }

        .menu-area{
            width: 240px;
            &:after{
                content: '';
                display: block;
                width: 1px;
                height: 100%;
                background-color: $color-21;
                position: absolute;
                top: 0px;
                left: 240px;
            }
            .nome-cli{
                display: flex;
                align-items: center;
                margin-bottom: 46px;
                img{
                    display: block;
                    margin-right: 16px;
                }  
                h3{
                    color: $color-03;
                    font-family: $Barlow;
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;    
                }  
            }

            .list-menu{
                ul{
                    li{
                        padding-left: 36px;
                        position: relative;
                        &:before{
                            content: '';
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0px;
                            -webkit-mask: url('../img/area/area-02.svg');
                            background-repeat: no-repeat;
                            background-color: $color-20;
                            height: 11px;
                            width: 7px;   
                        }

                        &:hover{
                            p{
                                color: $color-05;    
                            }
                            &:before{
                                background-color: $color-02;    
                            }
                        }

                        &.active{
                            p{
                                color: $color-05;    
                            }
                            &:before{
                                background-color: $color-02;    
                            }
                        }
                        p{
                            color: $color-20;
                            font-family: $Barlow;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 38px;
                            text-transform: uppercase;        
                            cursor: pointer;
                        }
                    }         
                }
            }
        }

        .container-menu-itens{
            margin-left: 80px;
            position: relative;
            width: 71%;
            .meus-planos{
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: -1;
                opacity: 0;
                transition: all .5s;

                h1{
                    color: $color-05;
                    font-family: $Barlow;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;   
                    margin-bottom: 35px; 
                }

                .container-card{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 20px;
                    .card-plano{
                        width: 100%;
                        height: auto;
                        cursor: pointer;
                        box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
                        border: 1px solid $color-15;
                        background-color: $color-01;
                        padding-left: 27px;
                        padding-bottom: 16px;
                        padding-top: 21px;
                        padding-right: 21px;
                        border-radius: 5px;
                        .container-img-text{
                            display: flex;
                            flex-wrap: wrap;
                            .img-card{
                                width: 161px;
                                height: 116px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
    
                            .text-card{
                                margin-left: 32px;
                                h3{
                                    color: $color-05;
                                    font-family: $Barlow;
                                    font-size: 12px;
                                    font-weight: 700;
                                    text-transform: uppercase;    
                                    margin-bottom: 5px;
                                }
    
                                h2{
                                    color: $color-03;
                                    font-family: $Barlow;
                                    font-size: 15px;
                                    font-weight: 700; 
                                    margin-bottom: 5px;   
                                }
    
                                span{
                                    color: $color-10;
                                    font-family: $Roboto;
                                    font-size: 12px;
                                    font-weight: 500;
                                    line-height: 17px; 
                                    margin-bottom: 15px;   
                                }
    
                                .status{
                                    width: 80px;
                                    height: 22px;
                                    border-radius: 300px;
                                    background-color: $color-22; 
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin-top: 16px;
                                    p{
                                        color: $color-01;
                                        font-family: $Barlow;
                                        font-size: 12px;
                                        font-weight: 700;
                                        text-transform: uppercase;    
                                    }
                                }
                            }
    
                            .btn-add{
                                width: 100%;
                                height: 42px;
                                border-radius: 7px;
                                background-color: $color-23; 
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                margin-top: 13px;
                                p{
                                    color: $color-10;
                                    font-family: $Roboto;
                                    font-size: 12px;
                                    font-weight: 400;    
                                }   
    
                                img{
                                    display: block;
                                    margin-left: 17px;
                                }
                            }    
                        }
                    }
                }

                &.active{
                    position: static; 
                    opacity: 1;  
                    transition: all .5s; 
                    margin-left: auto;
                }
            }

            .meus-dados{
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: -1;
                opacity: 0;
                transition: all .5s;

                h1{
                    color: $color-05;
                    font-family: $Barlow;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;    
                    margin-bottom: 22px;    
                }

                .container-card-dados{
                    display: flex;

                    .card-dados{
                        width: 379px;
                        height: 487px;
                        box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
                        border: 1px solid #e2e2e2;
                        background-color: #ffffff;
                        padding-top: 55px;
                        padding-bottom: 58px;
                        .container-dados{
                            width: 168px;
                            margin: 0 auto;
                            height: 100%;
                            position: relative;
                            .dados-titular, .dados-endereco{
                                h1{
                                    color: $color-05;
                                    font-family: $Barlow;
                                    font-size: 12px;
                                    font-weight: 500;
                                    text-transform: uppercase;    
                                    margin-bottom: 14px;
                                }
                
                                p{
                                    color: $color-16;
                                    font-family: $Roboto;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 22px;    
                                }     
                            }
    
                            .dados-titular{
                                margin-bottom: 35px; 
                                h1{
                                    position: relative;
                                    img{
                                        position: absolute;
                                        left: -30px;
                                        top: 50%;
                                        transform: translateY(-50%);
                                    }
                                }   
                            }
    
                            #alterar{
                                width: 101px;
                                height: 29px;
                                background-color: $color-05;
                                color: $color-01;
                                font-family: $Barlow;
                                font-size: 12px;
                                font-weight: 700;
                                text-transform: uppercase; 
                                border-radius: 37px;
                                @include centralizar();
                                position: absolute;
                                bottom: 0px;
                                cursor: pointer;
                            }
                        }
                    }

                    .card-cobranca{
                        width: 379px;
                        height: 487px;
                        box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
                        border: 1px solid #e2e2e2;
                        background-color: #ffffff;
                        padding-top: 55px;
                        padding-bottom: 58px;
                        margin-left: 22px;
                        .container-dados{
                            width: 249px;
                            height: 100%;
                            margin: 0 auto;
                            position: relative;
                            h1{
                                color: $color-05;
                                font-family: $Barlow;
                                font-size: 12px;
                                font-weight: 500;
                                text-transform: uppercase; 
                                margin-bottom: 0;   
                            }
    
                            .cartao-credito{
                                display: flex;
                                margin-top: 53px;
                                .cartao-img{
                                    img{
    
                                    }
                                }
    
                                .cartao-cred{
                                    margin-left: 26px;
                                    h3{
                                        color: $color-16;
                                        font-family: $Roboto;
                                        font-weight: 700;  
                                        font-size: 14px;
                                        margin-bottom: 10px;
                                    }
    
                                    p{
                                        color: $color-10;
                                        font-family: $Roboto;
                                        font-size: 14px;
                                        font-weight: 400;
                                        margin-bottom: 7px;   
                                    }
    
                                    span{
                                        color: $color-10;
                                        font-family: $Roboto;
                                        font-size: 14px;
                                        font-weight: 400;  
                                        margin-bottom: 0px;  
                                    }
                                }
                            }

                            .plano-cobranca{
                                margin-top: 53px;
                                p{
                                    color: $color-16;
                                    font-family: $Roboto;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 28px;
                                    &:first-child{
                                        color: $color-05;    
                                    }    
                                }    
                            }

                            #alterar{
                                width: 101px;
                                height: 29px;
                                background-color: $color-05;
                                color: $color-01;
                                font-family: $Barlow;
                                font-size: 12px;
                                font-weight: 700;
                                text-transform: uppercase; 
                                border-radius: 37px;
                                @include centralizar();
                                position: absolute;
                                bottom: 0px;
                                cursor: pointer;
                            }
                        }
                    }    
                }

                &.active{
                    position: static; 
                    opacity: 1;  
                    transition: all .5s; 
                    margin-left: auto;
                }
            }

            .detalhe-plano-area{
                position: absolute;
                top: 0px;
                left: 0px;
                height: 0px;
                z-index: -1;
                opacity: 0;
                transition: all .0s;
                h1{
                    color: $color-05;
                    font-family: $Barlow;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                .container-card-detalhe{
                    margin-top: 49px;
                    display: flex;
                    .container-detalhe-left{
                        width: 383px;
                        .card-detalhe-plano{
                            display: flex;
                            width: 100%;
                            margin-bottom: 90px;
                            .img-card-plano{
                                img{
    
                                }
                            } 
                            
                            .text-card-plano{
                                margin-left: auto;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                h1{
                                    color: #000000;
                                    font-family: $Barlow;
                                    font-size: 22px;
                                    font-weight: 700;  
                                    margin-bottom: 0px;
                                    text-transform: none;
                                }
    
                                .status{
                                    width: 80px;
                                    height: 22px;
                                    border-radius: 300px;
                                    background-color: $color-22; 
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    p{
                                        color: $color-01;
                                        font-family: $Barlow;
                                        font-size: 12px;
                                        font-weight: 700;
                                        text-transform: uppercase;    
                                    }
                                }
    
                                span{
                                    color: #747474;
                                    font-family: $Roboto;
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 20px;  
                                    display: block;
                                    margin-bottom: 10px;  
                                }
                            }
                        }

                        .container-planos-uni{
                            margin-bottom: 47px;
                            h1{
                                color: $color-16;
                                font-family: $Roboto;
                                font-size: 14px;
                                font-weight: 700;
                                line-height: 30px;
                                text-transform: uppercase;    
                            }
            
                            ul{
                                margin-top: 10px;
                                li{
                                    p{
                                        color: $color-16;
                                        font-family: $Roboto;
                                        font-size: 14px;
                                        font-weight: 400;
                                        line-height: 30px;
                                        position: relative;
                                        padding-left: 15px;
                                        &:before{
                                            content: '';
                                            display: block;
                                            background-image: url('../img/detalhe-plano/detalhe-plano-05.png');
                                            width: 5px;
                                            height: 10px;
                                            position: absolute;
                                            left: 0px;;
                                            top: 50%;
                                            transform: translateY(-50%);
                                        }    
                                    }
                                }
                            }
                        }
                    }   
                    
                    .container-detalhes-right{
                        margin-left: auto;
                        .add-beneficio{
                            width: 299px;
                            height: 198px;
                            box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
                            border: 1px solid #e2e2e2;
                            background-color: #f5f5f5; 
                            cursor: pointer;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            p{
                                color: #747474;
                                font-family: $Roboto;
                                font-size: 16px;
                                font-weight: 400;  
                                width: 226px;  
                                margin-top: 17px;
                                text-align: center;
                            }
                        }
                        
                        .container-documentacao-cobertura{
                            margin-top: 28px;
                            width: 299px;
                            height: auto;
                            box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
                            border: 1px solid #e2e2e2;
                            background-color: #ffffff;    
                            padding-top: 32px;
                            padding-bottom: 32px;
                            padding-left: 38px;
                            padding-right: 10px;

                            h3{
                                color: $color-05;
                                font-family: $Barlow;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 15px;
                                text-transform: uppercase;
                                margin-bottom: 21px;    
                            }

                            ul{
                                li{
                                    margin-bottom: 12px;
                                    p{
                                        color: #747474;
                                        font-family: $Roboto;
                                        font-size: 14px;
                                        font-weight: 400;
                                        padding-left: 10px;
                                        line-height: 20px;
                                        display: inline-block;
                                        
                                        position: relative;
                                        &:before{
                                            content: '';
                                            display: block;
                                            width: 4px;
                                            height: 4px;
                                            background-color: $color-16;
                                            position: absolute;
                                            top: 7px;
                                            left: 0px;
                                            border-radius: 50%;   
                                        }    
                                    }
                                }
                            }

                            &:last-child{
                                ul{
                                    li{
                                        
                                        p{
                                            line-height: 12px;  
                                            &:before{
                                                top: 3px;
                                            }  
                                        }
                                    }
                                }
                            }
                        }    
                    }
                } 
                
                
                &.active{
                    position: static; 
                    opacity: 1;  
                    transition: all .5s; 
                    margin-left: auto;
                    height: auto;
                }
            }  
            
            .detalhe-plano-beneficiario{
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: -1;
                opacity: 0;
                transition: all .0s;
                h1{
                    color: $color-05;
                    font-family: $Barlow;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                .container-card-detalhe{
                    margin-top: 49px;
                    display: flex;
                    .container-detalhe-left{
                        width: 383px;
                        .card-detalhe-plano{
                            display: flex;
                            width: 100%;
                            margin-bottom: 90px;
                            .img-card-plano{
                                img{
    
                                }
                            } 
                            
                            .text-card-plano{
                                margin-left: auto;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                h1{
                                    color: #000000;
                                    font-family: $Barlow;
                                    font-size: 22px;
                                    font-weight: 700;  
                                    margin-bottom: 0px;
                                    text-transform: none;
                                }
    
                                .status{
                                    width: 80px;
                                    height: 22px;
                                    border-radius: 300px;
                                    background-color: $color-22; 
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    p{
                                        color: $color-01;
                                        font-family: $Barlow;
                                        font-size: 12px;
                                        font-weight: 700;
                                        text-transform: uppercase;    
                                    }
                                }
    
                                span{
                                    color: #747474;
                                    font-family: $Roboto;
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 20px;  
                                    display: block;
                                    margin-bottom: 10px;  
                                }
                            }
                        }

                        .container-planos-uni{
                            margin-bottom: 47px;
                            h1{
                                color: $color-16;
                                font-family: $Roboto;
                                font-size: 14px;
                                font-weight: 700;
                                line-height: 30px;
                                text-transform: uppercase;    
                            }
            
                            ul{
                                margin-top: 10px;
                                li{
                                    p{
                                        color: $color-16;
                                        font-family: $Roboto;
                                        font-size: 14px;
                                        font-weight: 400;
                                        line-height: 30px;
                                        position: relative;
                                        padding-left: 15px;
                                        &:before{
                                            content: '';
                                            display: block;
                                            background-image: url('../img/detalhe-plano/detalhe-plano-05.png');
                                            width: 5px;
                                            height: 10px;
                                            position: absolute;
                                            left: 0px;;
                                            top: 50%;
                                            transform: translateY(-50%);
                                        }    
                                    }
                                }
                            }
                        }
                    }   
                    
                    .container-detalhes-right{
                        margin-left: auto;
                        .detalhe-beneficio{
                            width: 299px;
                            height: auto;
                            box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
                            border: 1px solid #e2e2e2;
                            background-color: #f5f5f5; 
                            padding-top: 36px;
                            padding-bottom: 21px;
                            padding-left: 39px;
                            padding-right: 39px;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            .container-beneficio{
                                width: 70%;
                                margin: 0 auto;
                                .beneficiario-nome-img{
                                    position: relative;
                                    margin-bottom: 17px;
                                    img{
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        left: -35px;    
                                    }
                                    h3{
                                        color: $color-05;
                                        font-family: $Barlow;
                                        font-size: 12px;
                                        font-weight: 400;
                                        line-height: 15px;
                                        text-transform: uppercase;    
                                    }
                                }
    
                                p{
                                    color: #747474;
                                    font-family: $Roboto;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 24px;
                                }
                            }
                            
                        }
                        
                        .container-documentacao-cobertura{
                            margin-top: 28px;
                            width: 299px;
                            height: auto;
                            box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
                            border: 1px solid #e2e2e2;
                            background-color: #ffffff;    
                            padding-top: 32px;
                            padding-bottom: 32px;
                            padding-left: 38px;
                            padding-right: 10px;

                            h3{
                                color: $color-05;
                                font-family: $Barlow;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 15px;
                                text-transform: uppercase;
                                margin-bottom: 21px;    
                            }

                            ul{
                                li{
                                    margin-bottom: 12px;
                                    p{
                                        color: #747474;
                                        font-family: $Roboto;
                                        font-size: 14px;
                                        font-weight: 400;
                                        padding-left: 10px;
                                        line-height: 20px;
                                        display: inline-block;
                                        
                                        position: relative;
                                        &:before{
                                            content: '';
                                            display: block;
                                            width: 4px;
                                            height: 4px;
                                            background-color: $color-16;
                                            position: absolute;
                                            top: 7px;
                                            left: 0px;
                                            border-radius: 50%;   
                                        }    
                                    }
                                }
                            }

                            &:last-child{
                                ul{
                                    li{
                                        
                                        p{
                                            line-height: 12px;  
                                            &:before{
                                                top: 3px;
                                            }  
                                        }
                                    }
                                }
                            }
                        }    
                    }
                } 
                
                
                &.active{
                    position: static; 
                    opacity: 1;  
                    transition: all .5s; 
                    margin-left: auto;
                }
            }
        }
    }
}

@media(max-width: 1280px){
    .minha-area{
        .container{
            .container-menu-itens{
                .meus-planos{
                    .container-card{
                        grid-template-columns: repeat(auto-fit, minmax(390px, 390px));
                    }
                }

                .detalhe-plano-area{
                    .container-card-detalhe{
                        .container-detalhe-left{
                            .card-detalhe-plano{
                                .text-card-plano{
                                    h1{
                                        font-size: 1.75vw;
                                    }
                                }
                            }
                        }
                    }
                }

                .detalhe-plano-beneficiario{
                    .container-card-detalhe{
                        .container-detalhe-left{
                            .card-detalhe-plano{
                                .text-card-plano{
                                    h1{
                                        font-size: 1.75vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 991px){
    .minha-area{
        .container{
            .container-menu-itens{
                .meus-planos{
                    .container-card{
                        grid-template-columns: 1fr;
                    }
                }

                .meus-dados{
                    .container-card-dados{
                        flex-direction: column;
                        .card-dados{
                            width: 100%;
                            .container-dados{
                                width: 249px;
                            }
                        }  
                        
                        .card-cobranca{
                            width: 100%;
                            margin-left: 0px;
                            margin-top: 6vw;
                        }
                    }    
                }

                .detalhe-plano-area{
                    .container-card-detalhe{
                        display: flex;
                        flex-direction: column;
                        .container-detalhe-left{
                            width: 100%;
                            .card-detalhe-plano{
                                flex-direction: column;
                                margin-bottom: 5vw;
                                .text-card-plano{
                                    margin-left: 0px;
                                    margin-top: 20px;  
                                    height: 90px;  
                                    h1{
                                        font-size: 22px;    
                                    }
                                }
                            }
                        }

                        .container-detalhes-right{
                            width: 100%;
                        }
                    }
                }

                .detalhe-plano-beneficiario{
                    .container-card-detalhe{
                        display: flex;
                        flex-direction: column;
                        .container-detalhe-left{
                            width: 100%;
                            .card-detalhe-plano{
                                flex-direction: column;
                                margin-bottom: 5vw;
                                .text-card-plano{
                                    margin-left: 0px;
                                    margin-top: 20px;  
                                    height: 90px;  
                                    h1{
                                        font-size: 22px;    
                                    }
                                }
                            }
                        }

                        .container-detalhes-right{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 768px){
    .minha-area{
        .container{
            .container-menu-itens{
                .detalhe-plano-area{
                    .container-card-detalhe{
                        .container-detalhes-right{
                            .add-beneficio{
                                width: 100%;    
                            }
                            .container-documentacao-cobertura{
                                width: 100%;
                            }
                        }
                    }
                }

                .detalhe-plano-beneficiario{
                    .container-card-detalhe{
                        .container-detalhes-right{
                            .detalhe-beneficio{
                                width: 100%;    
                            }
                            .container-documentacao-cobertura{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 480px){
    .minha-area{
        position: relative;
        .container{
            padding: 35vw 7vw;
            width: 100%;
            .menu-mobile{
                position: absolute;
                top: 0px;
                left: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                z-index: 20;
                width: 100%;
                background-color: #f5f5f5;
                p{
                    color: $color-05;
                    height: 60px;
                    width: 100%;
                    padding-left: 10vw;
                    padding-right: 10vw;
                    font-family: $Barlow;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase; 
                    background-color: #f5f5f5;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &:first-child{
                        justify-content: flex-start;
                        background-color: $color-01;
                        img{
                            transform: rotate(0deg);  
                            margin-right: 20px;  
                            margin-left: 0;
                        }
                    }
                    img{
                        margin-left: 10px;
                        transform: rotate(90deg);
                    }
                }

                .target-plano{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-left: 10vw;
                    padding-right: 10vw;
                    width: 100%;
                    background-color: #f5f5f5;
                    p{
                        padding-left: 0px;
                        padding-right: 0;
                        width: auto;
                        background-color: #f5f5f5;
                    }

                    img{
                        transform: rotate(90deg)
                    }
                }
            }

            .menu-area{
                position: absolute;
                top: -1000px;
                left: 0px;
                width: 100%;
                z-index: 10;
                padding: 7vw 0px;
                background-color: $color-01;
                transition: all 1s;
                &:after{
                    height: 0px;
                }

                .list-menu{
                    text-align: center;
                    ul{
                        li{
                            padding-left: 0px;
                            &:before{
                                height: 0px;
                            }
                        }
                    }
                }

                .nome-cli{
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: 30px;
                    display: none;
                    img{
                        margin-left: 0;
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                }

                &.active{
                    top: 120px;
                    transition: all .5s;
                }
            }

            .container-menu-itens{
                width: 100%;
                margin-left: 0;
                .meus-dados{
                    width: 100%;
                    h1{
                        text-align: center;
                        display: none;
                    }
                    .container-card-dados{
                        text-align: center;
                        .card-dados{
                            .container-dados{
                                .dados-titular{
                                    h1{
                                        img{
                                            top: -35px;
                                            left: 50%;
                                            transform: translateX(-50%);
                                        }
                                    }
                                }

                                #alterar{
                                    left: 50%;
                                    transform: translateX(-50%);     
                                }
                            }
                        }

                        .card-cobranca{
                            height: 515px;
                            .container-dados{
                                #alterar{
                                    left: 50%;
                                    transform: translateX(-50%);     
                                }
                            }

                            .container-dados{
                                .cartao-credito{
                                    flex-direction: column;
                                    align-items: center;
                                    .cartao-cred{
                                        margin-left: 0px;    
                                        margin-top: 20px;
                                    }
                                }
                            }
                        }    
                    }
                }

                .meus-planos{
                    width: 100%;
                    h1{
                        text-align: center;
                        display: none;
                    }
                }

                .detalhe-plano-area{
                    width: 100%;
                    h1{
                        text-align: center;
                        display: none;
                    }
                    .container-card-detalhe{
                        .container-detalhe-left{
                            .card-detalhe-plano{
                                align-items: center;   
                                .text-card-plano{
                                    
                                    .status{
                                        margin-left: auto;
                                        margin-right: auto;
                                    }  
                                } 
                            }

                            .container-planos-uni{
                                
                                ul{
                                    li{
                                        p{
                                            padding-left: 0;
                                            &:before{
                                                height: 0;
                                            }
                                        }    
                                    }
                                }
                            }    
                        }

                        .container-detalhes-right{
                            text-align: center;
                            .container-documentacao-cobertura{
                                padding-left: 5vw;
                                padding-right: 5vw;
                                ul{
                                    li{
                                        p{
                                            padding-left: 0;
                                            &:before{
                                                height: 0px;
                                            }
                                        }
                                    }
                                }
                            }
                        }    
                    }
                }

                .detalhe-plano-beneficiario{
                    width: 100%;
                    h1{
                        text-align: center;
                        display: none;
                    }
                    .container-card-detalhe{
                        .container-detalhe-left{
                            .card-detalhe-plano{
                                align-items: center;   
                                .text-card-plano{
                                    text-align: center;  
                                    .status{
                                        margin-left: auto;
                                        margin-right: auto;
                                    }  
                                } 
                            }

                            .container-planos-uni{
                                text-align: center;     
                                ul{
                                    li{
                                        p{
                                            padding-left: 0;
                                            &:before{
                                                height: 0;
                                            }
                                        }    
                                    }
                                }
                            }    
                        }

                        .container-detalhes-right{
                            

                            .detalhe-beneficio{
                                padding-top: 65px; 
                                .container-beneficio{
                                    .beneficiario-nome-img{
                                        img{
                                            top: -40px;
                                            left: 50%;
                                            transform: translate(-50%);
                                        }    
                                    }    
                                }       
                            }

                            .container-documentacao-cobertura{
                                padding-left: 5vw;
                                padding-right: 5vw;
                                ul{
                                    li{
                                        p{
                                            padding-left: 0;
                                            &:before{
                                                height: 0px;
                                            }
                                        }
                                    }
                                }
                            }
                        }    
                    }
                }
            }
        }
    }
}

@media(max-width: 375px){
    .minha-area{
        .container{
            .container-menu-itens{
                .meus-planos{
                    .container-card{
                        .card-plano{
                            .container-img-text{
                                flex-wrap: unset;
                                flex-direction: column;
                                align-items: center;
                                .text-card{
                                    margin-left: 0;   
                                    margin: 7vw 0px;
                                    text-align: center;
                                    .status{
                                        margin-left: auto;
                                        margin-right: auto;
                                    }
                                } 
                                
                                .btn-add{
                                    p{
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 320px){
    .minha-area{
        .container{
            padding: 30vw 7vw;    
        }
    }
}