.missao-empresa{
    background-image: linear-gradient(270deg, $color-07 0%, $color-09 100%);
    // opacity: 0.4;
    padding-top: 47px;
    padding-bottom: 80px;
    .container{
        display: flex;
        .text-empresa{
            h1{
                color: $color-01;
                font-family: $Montserrat;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;  
                padding-top: 38px;
                margin-bottom: 15px;
                position: relative;
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 40px;
                    height: 3px;
                    background-color: $color-02;     
                }
            }

            p{
                color: $color-04;
                font-family: $Roboto;
                font-size: 14px;
                font-weight: 400;     
            }
        } 
        
        .visao{
            width: 250px;   
        }   
        
        .missao{
            width: 272px; 
            margin-left: 117px;
            margin-right: 117px;   
        }

        .valores{
            width: 250px;  
            ul{
                li{
                    margin-bottom: 5px;
                }
            }  
        }
    }
}

@media(max-width: 768px){
    .missao-empresa{
        .container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            grid-gap: 50px 15px;
            .missao{
                width: 100%;
                margin-right: 0;
                margin-left: 0;
            }

            .visao{
                width: 100%;
            }

            .valores{
                width: 100%;
            }
        }
    }    
}

@media(max-width: 480px){
    .missao-empresa{
        .container{
            
            .text-empresa{
                text-align: center;
                h1{
                    &:before{
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}