@mixin box-shadow($value) {
    box-shadow: $value;
}

@mixin line() {
    width: 38px;
    height: 0;
    border: 1.5px solid #ff6ea9;
    margin-bottom: 18px;
}

@mixin centralizar() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin elements-row() {
    display: flex;
    flex-direction: row;
}

@mixin  elements-column() {
    display: flex;
    flex-direction: column;
}

@mixin border-bottom ($larguraBorda, $tipo, $corBorda) {
    border-bottom: $larguraBorda $tipo $corBorda;
}
@mixin border($larguraBorda, $tipo, $corBorda) {
    border: $larguraBorda $tipo $corBorda;
}