.modal-menu{
    height: 100vh;   
    width: 100vw; 
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: -1;
    transition: all .5s;
    .container-menu{
        background-color: $color-01;
        padding-left: 80px;
        width: 790px;
        height: 100%;
        position: absolute;
        right: -2000px;
        transition: all .5s;
        .logo-close{
            height: 93px;
            display: flex;
            align-items: center;
            img{
                display: block;
                &:last-child{
                    margin-left: 105px;
                    cursor: pointer;
                }
            }
        }
    
        .list-menu{
            margin-top: 64px;
            ul{
                margin-bottom: 76px;
                li{
                    margin-bottom: 21px;
                    display: flex;
                    align-items: center;
                    a{
                        color: $color-03;
                        font-family: $Montserrat;
                        font-size: 14px;
                        font-weight: 600;
                        margin-left: 15px;
                    }
                }
            }
        }
    
        .contato-menu{
            .tel-menu, .contato-email{
                display: flex;
                align-items: center;
                img{
                    margin-right: 16px;    
                }
    
                p{
                    font-family: $Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 12px;    
                }
            }   
            
            .tel-menu{
                margin-bottom: 16px;
            }
        }
    }

    &.active{
        background-color: rgba(0, 0, 0, 0.33);
        z-index: 100;
        transition: all .5s;
        .container-menu{
            right: 0px;
            transition: all .5s;
        }
    }
}

@media(max-width: 1366px){
    .modal-menu{
        .container-menu{
            width: 485px;
        }
    }
}

@media(max-width: 480px){
    .modal-menu{
        .container-menu{
            width: 100%;
            padding: 0px 15vw;
            .logo-close{
                img{
                    &:last-child{
                        margin-left: auto;
                    }
                }
            }
        }
    }
}