.modal-add-plano{
    height: 100vh;   
    width: 100vw; 
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: -1;
    transition: all .5s;
    .container-modal-plano{
        background-color: $color-01;
        padding-left: 80px;
        padding-top: 55px;
        width: 790px;
        height: 100%;
        position: absolute;
        right: -2000px;
        transition: all .5s;  
        .itens-modal{
            width: 427px;
            .title-close{
                display: flex;
                align-items: center;
                h1{
                    color: $color-05;
                    font-family: $Barlow;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 15px;
                    text-transform: uppercase;    
                }
    
                img{
                    display: block;
                    margin-left: auto;
                    cursor: pointer;
                }
            }

            .container-fomr-add{
                form{
                    margin-top: 50px;
    
                    .container-group{
                        display: flex;
                        justify-content: space-between;
                        .form-group{
                            width: 45%;
                        }
                    }
    
                    .form-group{
                        position: relative;
                        margin-bottom: 32px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        label{
                            color: $color-10;
                            font-family: $Barlow;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 15px;
    
                            position: absolute;
                            top: -9px;
                            left: 25px;
                            background-color: $color-01;
                            padding-right: 15px;
                            padding-left: 10px;
                        
                        }
    
                        input{
                            height: 54px;
                            border: 1px solid $color-10;
                            width: 100%;    
                            border-radius: 5px;
                            padding-left: 15px;
                            color: $color-05;
                            font-family: $Barlow;
                            font-size: 14px;
                            font-weight: 700;
                            outline: none;
                            &:active{
                                border: 1px solid $color-05;
                            }
    
                            &:visited{
                                border: 1px solid $color-05;
                            }
    
                            &:hover{
                                border: 1px solid $color-05;
                            }
    
                            &:focus{
                                border: 1px solid $color-05;
                            }
                        }
                    }
    
                    .btn-cadastro{
                        width: 271px;
                        height: 47px;
                        background-color: $color-05;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 37px;
                        margin-top: 56px;
                        button{
                            background-color: transparent;
                            border: none;
                            color: $color-01;
                            font-family: $Barlow;
                            font-size: 14px;
                            font-weight: 700;
                            text-transform: uppercase;  
                            cursor: pointer;  
                        }  
                        
                        img{
                            margin-left: 20px;
                        }
                    }
                }        
            }
        }   
    }
    
    &.active{
        background-color: rgba(0, 0, 0, 0.33);
        z-index: 100;
        transition: all .5s;
        .container-modal-plano{
            right: 0px;
            transition: all .5s;
        }
    }
}

@media(max-width: 1366px){
    .modal-add-plano{
        .container-modal-plano{
            width: 580px;    
            padding-right: 80px;
        }
    }    
}

@media(max-width: 480px){
    .modal-add-plano{
        .container-modal-plano{
            padding-left: 10vw;
            padding-right: 10vw;   
            width: 100%;  
            padding-bottom: 55px;
            .itens-modal{
                width: 100%;
                height: 100%;
                overflow: scroll;
                .container-fomr-add{
                    form{
                        .container-group{
                            flex-direction: column;
                            .form-group{
                                width: 100%;
                            }
                        }

                        .btn-cadastro{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}