body{
    &.active{
        overflow-y: hidden;
    }
}
.modal-carrinho{
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    transition: all .5s;
    .container-carrinho{
        height: 100%;
        width: 552px;  
        position: absolute;
        right: -1000px;
        background-color: $color-01;
        transition: all .5s;
        .carrinho{
            padding-left: 52px;
            padding-right: 93px;
            padding-top: 48px;
            height: 70%;
            overflow-y: scroll;
            .itens-text{
                .text{
                    display: flex;
                    align-items: center;
                    h1{
                        color: $color-03;
                        font-family: $Barlow;
                        font-size: 22px;
                        font-weight: 700;
                        text-transform: uppercase;
                        img{
                            margin-right: 29px;
                        }    
                    }
    
                    img{
                        margin-left: auto;
                        cursor: pointer;
                    }
                }
    
                .itens{
                    margin-top: 61px;
                    .iten{
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        padding-bottom: 70px;
                        border-bottom: 1px solid rgba(112, 112, 112, 0.3);
                        margin-top: 50px;
                        &:first-child{
                            margin-top: 0px;
                        }
    
                        &:last-child{
                            border-bottom: unset;
                        }
    
                        .remove-iten{  
                            margin-top: auto;
                            margin-bottom: auto;
                            cursor: pointer;
                        }
    
                        .iten-img{
                            position: relative;
                            width: 180px;
                            height: 130px;
                            img{
                                width: 100%;
                                height: 100%;    
                            }
                            .valor-plano{
                                width: 111px;
                                height: 38px;
                                background-color: $color-05;
                                position: absolute;
                                bottom: -37px;
                                right: 0px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 0 0 0 10px;
                                z-index: 10;
                                .valor{
                                    display: flex;
                                    align-items: flex-end;
                                    span{
                                        color: $color-01;
                                        font-family: $Roboto;
                                        font-size: 9px;
                                        font-weight: 500;
                                        display: block;
                                        margin-bottom: 0px;
                                    }
            
                                    p{
                                        color: $color-01;
                                        font-family: $Roboto;
                                        font-size: 12px;
                                        font-weight: 400;
                                        text-transform: uppercase;
                                        margin-bottom: 0;
                                        &:last-child{
                                            color: $color-01;
                                            font-family: $Roboto;
                                            font-size: 9px;
                                            font-weight: 600;
                                            margin-bottom: 0;
                                            text-transform: unset;
                                        }
        
                                        &:nth-child(3){
                                            margin: 0px 3px;
                                            font-size: 12px;
                                        }
                                    }
        
                                }
                            }    
                        }
                        
                        .plano{
                            h3{
                                color: $color-05;
                                font-family: $Barlow;
                                font-size: 14px;
                                font-weight: 700;
                                text-transform: uppercase;    
                            }
    
                            h1{
                                color: $color-03;
                                font-family: $Barlow;
                                font-size: 18px;
                                font-weight: 700;    
                                margin-top: 4px;
                                margin-bottom: 4px;
                            }
    
                            span{
                                color: $color-10;
                                font-family: $Roboto;
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 20px;    
                            }
    
                            .contador{
                                margin-top: 9px;
                                width: 140px;
                                height: 47px;
                                border-radius: 5px;
                                background-color: $color-11; 
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 0px 14px; 
                                p{
                                    color: $color-05;
                                    font-family: $Barlow;
                                    font-size: 18px;
                                    font-weight: 700;
                                }  

                                img{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }     
            }
        }

        .container-finalizar{
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            .total-itens{
                height: 68px;
                background-color: $color-11;
                position: relative;
                border-bottom: 1px solid $color-01;
                .iten-total{
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    img{
                        margin-right: 23px;
                    }
                    p{
                        color: $color-03;
                        font-family: $Barlow;
                        font-size: 14px;
                        font-weight: 700;
                        text-transform: uppercase;    
                    }

                    &:last-child{
                        border-radius: 0 0 0 30px;
                        background-color: $color-05;
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        p{
                            color: $color-01;
                            font-family: $Barlow;
                            font-size: 22px;
                            font-weight: 700;
                            text-transform: uppercase;
                            span{
                                color: $color-01;
                                font-family: $Barlow;
                                font-size: 12px;
                                font-weight: 700;
                                text-transform: uppercase;    
                            }    
                        }    
                        
                    }
                }    
            }    

            .taxa{
                height: 68px;
                display: flex;
                background-color: $color-11;
                p{
                    width: 50%;
                    height: 100%;
                    color: $color-03;
                    font-family: $Barlow;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .finalizar{
                height: 101px;
                background-color: $color-05;
                display: flex;
                align-items: center;
                justify-content: center;
                button{
                    cursor: pointer;
                    color: $color-01;
                    font-family: $Barlow;
                    font-size: 20px;
                    font-weight: 700;
                    text-transform: uppercase;
                    border: transparent;  
                    background-color: transparent;      
                }
                img{
                    margin-left: 35px;
                    margin-top: 1px;
                }
            }    
        }
    }

    &.active{
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 101;
        right: 0px;
        transition: all .5s;
        .container-carrinho{
            right: 0px;
            transition: all .5s;
        }
    }
}

@media(max-width: 1366px){
    .modal-carrinho{
        .container-carrinho{
            .carrinho{
                height: 65%;
            }

            .container-finalizar{
                z-index: 10;
            }
        }
    }
}

@media(max-width: 768px){
    .modal-carrinho{
        .container-carrinho{
            .carrinho{
                height: 75%;    
            }
        }
    }
}

@media(max-width: 480px){
    .modal-carrinho{
        .container-carrinho{
            width: 100%;
            .carrinho{
                padding-top: 8vw;
                padding-left: 10vw;
                padding-right: 10vw;
                height: 66%;
                .itens-text{
                    .itens{
                        .iten{
                            .iten-img{
                                width: 45%;
                            }
                            .plano{
                                width: 140px;    
                            }
                        }
                    }
                }
            }

            .container-finalizar {
                z-index: 10;
            }
        }
    }
}

@media(max-width: 375px){
    .modal-carrinho{
        .container-carrinho{
            .carrinho{
                height: 60%;
                .itens-text{
                    .itens{
                        margin-top: 40px;    
                        .iten{
                            .remove-iten{
                                position: absolute;
                                left: -22px;
                                top: 26%;
                                transform: translateY(-50%);
                            }

                            .iten-img{
                                height: 100px;
                            }

                            .plano{
                                width: 45%;
                                
                                h3{
                                    font-size: 14px;
                                }

                                h1{
                                    font-size: 18px;
                                }

                                .contador{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 320px){
    .modal-carrinho{
        .container-carrinho{
            .carrinho{
                .itens-text{
                    .itens{
                        .iten{
                            .iten-img{
                                height: 87px;
                                .valor-plano{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}