.cadastrado-pagamento{
    margin-top: 93px;
    .container{
        padding-top: 92px;
        padding-bottom: 113px;
        display: flex;
        .container-cadastro{
            width: 427px;
            h1{
                color: $color-05;
                font-family: $Barlow;
                font-size: 22px;
                font-weight: 700;
                text-transform: uppercase; 
                margin-bottom: 27px;  
                padding-top: 26px;
                position: relative;
                display: flex;
                align-items: center;
                &:before{
                    content: '';
                    display: block;
                    width: 45px;
                    border: 2px solid $color-02;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }
                
                img{
                    display: block;
                    margin-left: auto;
                }
            }

            p{
                color: $color-10;
                font-family: $Roboto;
                font-size: 14px;
                font-weight: 400;    
            }

            form{
                margin-top: 50px;

                .container-group{
                    display: flex;
                    justify-content: space-between;
                    .form-group{
                        width: 45%;
                    }
                }

                .form-group{
                    position: relative;
                    margin-bottom: 32px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    label{
                        color: $color-10;
                        font-family: $Barlow;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 15px;

                        position: absolute;
                        top: -9px;
                        left: 25px;
                        background-color: $color-01;
                        padding-right: 15px;
                        padding-left: 10px;
                    
                    }

                    input{
                        height: 54px;
                        border: 1px solid $color-10;
                        width: 100%;    
                        border-radius: 5px;
                        padding-left: 15px;
                        color: $color-05;
                        font-family: $Barlow;
                        font-size: 14px;
                        font-weight: 700;
                        outline: none;
                        &:active{
                            border: 1px solid $color-05;
                        }

                        &:visited{
                            border: 1px solid $color-05;
                        }

                        &:hover{
                            border: 1px solid $color-05;
                        }

                        &:focus{
                            border: 1px solid $color-05;
                        }
                    }
                }

                .btn-cadastro{
                    width: 271px;
                    height: 47px;
                    background-color: $color-05;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 37px;
                    margin-top: 56px;
                    button{
                        background-color: transparent;
                        border: none;
                        color: $color-01;
                        font-family: $Barlow;
                        font-size: 14px;
                        font-weight: 700;
                        text-transform: uppercase;  
                        cursor: pointer;  
                    }  
                    
                    img{
                        margin-left: 48px;
                    }
                }
            }
        }

        .container-carrinho{
            width: 500px;
            height: 790px;
            box-shadow: 4px 4px 0 rgba(109, 109, 109, 0.09);
            border: 1px solid $color-15;
            background-color: $color-01;
            margin-left: auto;
            position: relative;
            .carrinho{
                padding-left: 81px;
                padding-right: 58px;
                padding-top: 48px;
                height: 70%;
                overflow-y: scroll;
                .itens-text{
                    .text{
                        display: flex;
                        align-items: center;
                        h1{
                            color: $color-03;
                            font-family: $Barlow;
                            font-size: 11px;
                            font-weight: 700;
                            text-transform: uppercase;
                            &:last-child{
                                margin-left: 15px;
                            }
                            img{
                                margin-right: 29px;
                            }    
                        }
        
                        img{
                            margin-left: auto;
                            cursor: pointer;
                        }
                    }
        
                    .itens{
                        margin-top: 61px;
                        .iten{
                            display: flex;
                            justify-content: space-between;
                            position: relative;
                            padding-bottom: 70px;
                            border-bottom: 1px solid rgba(112, 112, 112, 0.3);
                            margin-top: 50px;
                            &:first-child{
                                margin-top: 0px;
                            }
        
                            &:last-child{
                                border-bottom: unset;
                            }
        
                            .remove-iten{  
                                position: absolute;
                                left: -40px;
                                top: 29%;
                                cursor: pointer;
                            }
        
                            .iten-img{
                                position: relative;
                                width: 161px;
                                height: 116px;
                                img{
                                    width: 100%;
                                    height: 100%;    
                                }
                                .valor-plano{
                                    width: 111px;
                                    height: 38px;
                                    background-color: $color-05;
                                    position: absolute;
                                    bottom: -37px;
                                    right: 0px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 0 0 0 10px;
                                    z-index: 10;
                                    .valor{
                                        display: flex;
                                        align-items: flex-end;
                                        span{
                                            color: $color-01;
                                            font-family: $Roboto;
                                            font-size: 9px;
                                            font-weight: 500;
                                            display: block;
                                            margin-bottom: 0px;
                                        }
                
                                        p{
                                            color: $color-01;
                                            font-family: $Roboto;
                                            font-size: 12px;
                                            font-weight: 400;
                                            text-transform: uppercase;
                                            margin-bottom: 0;
                                            &:last-child{
                                                color: $color-01;
                                                font-family: $Roboto;
                                                font-size: 9px;
                                                font-weight: 600;
                                                margin-bottom: 0;
                                                text-transform: unset;
                                            }
            
                                            &:nth-child(3){
                                                margin: 0px 3px;
                                                font-size: 12px;
                                            }
                                        }
            
                                    }
                                }    
                            }
                            
                            .plano{
                                h3{
                                    color: $color-05;
                                    font-family: $Barlow;
                                    font-size: 14px;
                                    font-weight: 700;
                                    text-transform: uppercase;    
                                }
        
                                h1{
                                    color: $color-03;
                                    font-family: $Barlow;
                                    font-size: 18px;
                                    font-weight: 700;    
                                    margin-top: 4px;
                                    margin-bottom: 4px;
                                }
        
                                span{
                                    color: $color-10;
                                    font-family: $Roboto;
                                    font-size: 12px;
                                    font-weight: 500;
                                    line-height: 20px;    
                                }
        
                                .contador{
                                    margin-top: 9px;
                                    width: 140px;
                                    height: 47px;
                                    border-radius: 5px;
                                    background-color: $color-11; 
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding: 0px 14px; 
                                    p{
                                        color: $color-05;
                                        font-family: $Barlow;
                                        font-size: 18px;
                                        font-weight: 700;
                                    }  
    
                                    img{
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }     
                }
            }
    
            .container-finalizar{
                bottom: 0px;
                left: 0px;
                width: 100%;
                .total-itens{
                    height: 68px;
                    background-color: $color-11;
                    position: relative;
                    border-bottom: 1px solid $color-01;
                    .iten-total{
                        width: 50%;
                        display: flex;
                        align-items: center;
                        padding-left: 81px;
                        height: 100%;
                        img{
                            margin-right: 23px;
                        }
                        p{
                            color: $color-03;
                            font-family: $Barlow;
                            font-size: 14px;
                            font-weight: 700;
                            text-transform: uppercase;    
                        }
    
                        &:last-child{
                            border-radius: 0 0 0 30px;
                            background-color: $color-05;
                            position: absolute;
                            right: 0px;
                            top: 0px;
                            p{
                                color: $color-01;
                                font-family: $Barlow;
                                font-size: 22px;
                                font-weight: 700;
                                text-transform: uppercase;
                                span{
                                    color: $color-01;
                                    font-family: $Barlow;
                                    font-size: 12px;
                                    font-weight: 700;
                                    text-transform: uppercase;    
                                }    
                            }    
                            
                        }
                    }    
                }    
    
                .sacola{
                    height: 83px;
                    display: flex;
                    align-items: center;
                    background-color: $color-05;
                    padding-left: 81px;
                    border: solid 1px $color-11;
                    p{
                        height: 100%;
                        color: $color-01;
                        font-family: $Barlow;
                        font-size: 19px;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin-left: 23px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
    
                .finalizar{
                    height: 101px;
                    background-color: $color-05;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    button{
                        cursor: pointer;
                        color: $color-01;
                        font-family: $Barlow;
                        font-size: 20px;
                        font-weight: 700;
                        text-transform: uppercase;
                        border: transparent;  
                        background-color: transparent;      
                    }
                    img{
                        margin-left: 35px;
                        margin-top: 1px;
                    }
                }    
            }

            .documentacao{
                border-top: 1px solid rgba(144, 144, 144, 0.5);    
                height: 65px;
                margin-top: auto;
                position: absolute;
                bottom: 0px;
                width: 100%;
                .doc{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 100%;
                    position: relative;
                    z-index: 10;
                    .leitura{
                        height: 100%;
                        position: absolute;
                        top: 0px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 70%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        z-index: 10;
                        background-color: $color-01;
                        cursor: pointer;   
                        p{
                            color: $color-05;
                            font-family: $Barlow;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 15px;
                            text-transform: uppercase; 
                        }
        
                        img{
                            width: 10px;
                            height: 7px;    
                        }
                    }
                   

                    .list-doc{
                        background-color: $color-01;
                        position: absolute;
                        top: -8px;
                        left: -1px;
                        width: 100.5%;
                        z-index: -1;
                        opacity: 0;
                        transition: all .5s;
                        
                        ul{
                            width: 70%;
                            margin: 0 auto;
                            height: 100%;
                            li{
                                
                                position: relative;

                                &:before{
                                    content: '';
                                    display: block;
                                    width: 4px;
                                    height: 4px;
                                    background-color: $color-03;
                                    position: absolute;
                                    top: 52.5%;
                                    left: -15px;
                                    border-radius: 50%;
                                    transform: translateY(-50%)
                                }
                                a{
                                    color: $color-10;
                                    font-family: $Roboto;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin-bottom: 12px;
                                    display: block;
                                    &:first-child{
                                        margin-top: 20px;
                                    }
                                }
                            }
                        }   
                        
                        &.active{
                            top: 65px;
                            height: auto;
                            opacity: 1;
                            transition: all .5s;
                            background-color: $color-01;
                        }
                    }
                }
            }

            .dados-cli{
                display: flex;
                align-items: center;
                position: absolute;
                top: -43px;
                width: 100%;
                .nome{
                    display: flex;
                    align-items: center;
                    width: 52%;

                    p{
                        color: $color-10;
                        font-family: $Roboto;
                        font-size: 14px;
                        font-weight: 500;
                        margin-left: 20px;
                    }    
                }

                .email-cli{
                    width: 45%;
                    span{
                        color: $color-16;
                        font-family: $Roboto;
                        font-size: 14px;
                        font-weight: 500;    
                    }
                }
            }
        }
    }
}

@media(max-width: 1366px){
    .cadastrado-pagamento{
        .container{
            .container-carrinho{
                height: 800px;
                .carrinho{
                    height: 70%;
                }
            }
        }
    }
}

@media(max-width: 1280px){
    .cadastrado-pagamento{
        .container{
            .container-cadastro{
                width: 40%;    
            }
        }
    }
}

@media(max-width: 991px){
    .cadastrado-pagamento{
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            .container-carrinho{
                margin-left: 0; 
                width: 500px;   
            }

            .container-cadastro{
                width: 500px;
                margin-bottom: 120px;
                form{
                    .container-group{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 32px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        .form-group{
                            width: 100%;
                            
                            input{
                                width: 100%;
                            }
                        }
                    }

                    .btn-cadastro{
                        margin-left: auto;
                        margin-right: auto;    
                    }
                }
            }
        }
    }
}

@media(max-width: 480px){
    .cadastrado-pagamento{
        .container{
            .container-cadastro{
                width: 100%;    
                h1{
                    align-items: flex-start;
                    flex-direction: column;    
                    img{
                        margin-top: 20px;
                        margin-left: 0;
                    }
                } 
            }

            .container-carrinho{
                width: 100%;
                height: 600px;
                .dados-cli{
                    flex-direction: column;
                    align-items: flex-start;
                    top: -75px;
                    .nome{
                        width: 100%;    
                        margin-bottom: 20px;
                    }
                }

                .container-finalizar{
                    .sacola{
                        padding-left: 10vw;    
                    }
                }

                .carrinho{
                    height: 50%;
                    padding-left: 10vw;
                    padding-right: 10vw;
                    padding-top: 10vw;
                    height: 60%;
                    .itens-text{
                        .itens{
                            .iten{
                                .iten-img{
                                    width: 45%;
                                    height: 108px;
                                    .valor-plano{
                                        width: 100%;
                                    }
                                }

                                .plano{
                                    width: 45%;
                                    .contador{
                                        width: 100%;
                                    }
                                }

                                .remove-iten{
                                    left: -9%;    
                                }
                            }
                        }
                    }
                }

                .container-finalizar{
                    .total-itens{
                        .iten-total{
                            padding-left: 10vw;
                            &:last-child{
                                padding-left: 10vw;   
                                p{
                                    font-size: 4.6vw;    
                                } 
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 375px){
    .cadastrado-pagamento{
        .container{
            .container-carrinho{
                .carrinho{
                    .itens-text{
                        .itens{
                            .iten{
                                .iten-img{
                                    height: 86px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 320px){
    .cadastrado-pagamento{
        .container{
            .container-carrinho{
                .carrinho{
                    height: 60%;
                    .itens-text{
                        .itens{
                            .iten{
                                .iten-img{
                                    height: 72px;    
                                }
                                .plano{
                                    h1{
                                        font-size: 12px;
                                    }
    
                                    span{
                                        font-size: 10px;
    
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}