.planos{
    padding-top: 93px;
    margin-bottom: 332px;
    .container{
        .plano-text{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 49px;
            margin-bottom: 61px;
            h1{
                color: $color-10;
                font-family: $Roboto;
                font-size: 18px;
                font-weight: 400;    
            }

            span{
                color: $color-05;
                font-family: $Roboto;
                font-size: 18px;
                font-weight: 500;   
                display: block;
                margin-left: 16px; 
            }
        }

        .cards-planos{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(356px, 356px));
            grid-gap: 37px 16px;
            grid-template-rows: 441px 441px;
            justify-content: center;
            .card{
                width: 100%;
                cursor: pointer;
                .container-img-plano{
                    width: 356px;
                    height: 308px;
                }

                .detalhe{
                    padding: 26px 20px 0px 49px;
                    grid-template-rows: 26px 26px;
                    background-color: $color-05;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    position: relative;
                    bottom: 0px;
                    height: 103px;
                    transition: all 1s;
                    
                    .plano-especial-mobile{
                        display: none;
                        grid-column: span 2;
                        width: 100%;
                        height: auto;
                        
                        .especial{
                            h1{
                                padding-top: 27px;
                                color: $color-01;
                                font-family: $Barlow;
                                font-size: 20px;
                                font-weight: 700;   
                                margin-bottom: 17px; 
                                position: relative;
                                margin: 0px;
                                &:before{
                                    content: '';
                                    display: block;
                                    width: 48px;
                                    height: 4px;
                                    background-color: $color-05;
                                    position: absolute;
                                    top: -2px;
                                    left: 0px;
                                }
                            }

                            p{
                                color: $color-01;
                                font-family: $Roboto;
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 20px;    
                            }
                        }
                    }

                    p{
                        color: $color-01;
                        font-family: $Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                        img{
                            margin-right: 10px;
                        }   
                    } 

                    .detalhes-btn{
                        grid-column: span 2;
                        display: flex;
                        align-items: center;
                        margin-top: 26px;
                        margin-bottom: 38px;
                        position: relative;
                        opacity: 0;
                        pointer-events: none;
                        transition: all .7s;
                        bottom: -60px;
                        overflow: hidden;
                        .btn{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 172px;
                            height: 39px;
                            border: 1px solid $color-04;
                            border-radius: 37px;
                            p{
                                color: $color-01;
                                font-family: $Barlow;
                                font-size: 14px;
                                font-weight: 700;
                                text-transform: uppercase;
                                margin-bottom: 0;
                                img{
                                    margin-left: 7px;
                                    margin-top: 1px;
                                }
                            }    
                        }

                        .icon-loja{
                            width: 67px;
                            height: 39px;
                            background-color: $color-02;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 37px;  
                            margin-left: 6px;  
                        }
                    }    
                    
                    .container-valor{
                        width: 141px;
                        height: 62px;
                        background-color: $color-05;
                        position: absolute;
                        top: -62px;
                        right: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-top-left-radius: 30px;
                        z-index: 10;
                        .valor{
                            display: flex;
                            align-items: flex-end;
                            span{
                                color: $color-01;
                                font-family: $Roboto;
                                font-size: 10px;
                                font-weight: 500;
                                display: block;
                                margin-bottom: 0px;
                            }
    
                            p{
                                color: $color-01;
                                font-family: $Roboto;
                                font-size: 21px;
                                font-weight: 400;
                                text-transform: uppercase;
                                margin-bottom: 0;
                                &:last-child{
                                    color: $color-01;
                                    font-family: $Roboto;
                                    font-size: 12px;
                                    font-weight: 600;
                                    margin-bottom: 0;
                                    text-transform: unset;
                                    margin-bottom: 2px;
                                }

                                &:nth-child(3){
                                    margin: 0px 3px;
                                    margin-bottom: 2px;
                                    font-size: 15px;
                                }
                            }

                        }
                    }

                    .plano-especial{
                        background-color: rgba(0, 0, 0, 0.46);
                        grid-column: span 2;
                        position: absolute;
                        top: -127px;
                        width: 100%;
                        
                        padding-bottom: 23px;
                        padding-right: 20px;
                        padding-left: 49px;
                        .especial{
                            h1{
                                padding-top: 27px;
                                color: $color-01;
                                font-family: $Barlow;
                                font-size: 20px;
                                font-weight: 700;   
                                margin-bottom: 17px; 
                                position: relative;
                                &:before{
                                    content: '';
                                    display: block;
                                    width: 48px;
                                    height: 4px;
                                    background-color: $color-05;
                                    position: absolute;
                                    top: -2px;
                                    left: 0px;
                                }
                            }

                            p{
                                color: $color-01;
                                font-family: $Roboto;
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 20px;    
                            }
                        }    
                    }
                }


                &:hover{
                    .detalhe{
                        transition: all .7s;
                        bottom: 100px;
                        height: 203px;
                        .detalhes-btn{
                            transition: all .7s;
                            transition-delay: .1s;
                            opacity: 1;
                            pointer-events: all;
                            bottom: 0px;    
                        }
                    }     
                }
            }
        }
    }
}

@media(max-width: 480px){
    .planos{
        .container{
            .cards-planos{
                grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
                grid-template-rows: 411px;
                .card{
                    .container-img-plano{
                        width: 100%;
                        height: 265px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .detalhe {
                        bottom: 100px;
                        height: 240px;
                        padding: 20px 20px 0px 20px;
                        grid-template-rows: unset;
                        .plano-especial-mobile{
                            display: block;
                            margin-bottom: 10px;
                            .especial{
                                h1{
                                    padding-top: 0;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                        .detalhes-btn{
                            transition: all .7s;
                            transition-delay: .1s;
                            opacity: 1;
                            pointer-events: all;
                            bottom: 0px;    
                        }
                        .plano-especial{
                            padding-bottom: 3px;
                            display: none;
                            .especial{
                                width: 48%;    
                            }
                        }
                    }
                }    
            }
        }
    }
}

@media(max-width: 320px){
    .planos{
        .container{
            .plano-text{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                span{
                    margin-top: 20px;
                    margin-left: 0;
                    display: flex;
                    align-items: center;
                    img{
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}