.sobre{
    padding-top: 93px;
    background-image: linear-gradient(60deg, $color-07 0%, $color-08 100%);
    padding-bottom: 71px;
    .container{
        margin-top: 100px;
        position: relative;
        .sobre-text{
            width: 684px;
            h1{
                color: $color-01;
                font-family: $Montserrat;
                font-size: 60px;
                font-weight: 700;
                letter-spacing: -1.8px;
                line-height: 60px;  
                margin-bottom: 44px;  
                width: 470px;
                padding-top: 51px;
                position: relative;
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 40px;
                    height: 3px;
                    border-radius: 3px;
                    background-color: $color-02;
                }
            }

            .text{
                p{
                    color: $color-01;
                    font-family: $Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    &:first-child{
                        color: $color-01;
                        font-family: $Roboto;
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 28px; 
                    }
                    
                    &:nth-child(2){
                        margin-top: 30px;
                        margin-bottom: 20px;     
                    }

                    &:nth-child(3){
                        width: 609px;        
                    }
                }   
            }
        }

        .container-img-sobre{
            position: absolute;
            top: -100px;
            right: -4vw;
            img{
                width: 95%;    
            }
        }
    }
}

@media(max-width: 1280px){
    .sobre{
        .container{
            .sobre-text{
                position: relative;
                z-index: 10;
            }
        }
    }
}

@media(max-width: 768px){
    .sobre{
        overflow: hidden;
        .container{
            .container-img-sobre{
                right: -42vw;
                img{
                    width: 64%;
                }
            }

            .sobre-text{
                width: 100%;
            }
        }
    }
}

@media(max-width: 480px){
    .sobre{
        .container{
            margin-top: 15vw;
            .sobre-text{
                text-align: center;
                h1{
                    width: 100%;
                    font-size: 7.5vw;
                    line-height: normal;
                    padding-top: 7vw;
                    &:before{
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }

                .text{
                    p{
                        &:nth-child(3){
                            width: 100%;
                        }
                    }
                }
            }

            .container-img-sobre{
                display: none;
            }
        }
    }
}