@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow:400,700&display=swap');

$color-01: #ffffff;
$color-02: #ff50c2;
$color-03: #000000;
$color-04: #ff96db;
$color-05: #c90c53;
$color-06: #cecece;
$color-07: #a70f49;
$color-08: #d50453;
$color-09: #ae0e4b;
$color-10: #747474;
$color-11: #efefef;
$color-12: #707070;
$color-13: #2e2e2e;
$color-14: #bcbcbc;
$color-15: #e2e2e2;
$color-16: #343434;
$color-17: #909090;
$color-18: #c3c3c3;
$color-19: #e3e3e3;
$color-20: #b7b7b7;
$color-21: #dddddd;
$color-22: #17d266;
$color-23: #f5f5f5;

$Montserrat: 'Montserrat';
$Roboto: 'Roboto';
$Barlow: 'Barlow';